/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-text-color: #0e314c;
  --ion-background-color: #fffdfa;
  /** primary **/
  --ion-color-primary: #fcaf3c;
  --ion-color-primary-rgb: 252, 175, 60;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #de9a35;
  --ion-color-primary-tint: #fcb750;

  /** secondary **/
  --ion-color-secondary: #1890ff;
  --ion-color-secondary-rgb: 24, 144, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #157fe0;
  --ion-color-secondary-tint: #2f9bff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-gray: #f8f8f8;
  --ion-color-gray-rgb: 220, 220, 220;
  --ion-color-gray-contrast: #000000;
  --ion-color-gray-contrast-rgb: 0, 0, 0;
  --ion-color-gray-shade: #c2c2c2;
  --ion-color-gray-tint: #e0e0e0;
}

.ion-color-gray {
  --ion-color-base: var(--ion-color-gray);
  --ion-color-base-rgb: var(--ion-color-gray-rgb);
  --ion-color-contrast: var(--ion-color-gray-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gray-contrast-rgb);
  --ion-color-shade: var(--ion-color-gray-shade);
  --ion-color-tint: var(--ion-color-gray-tint);
}

.wrap-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-white {
  color: #fff;
}

.required:after {
  content: " *";
  color: red;
}

.add-row-button {
  --border-style: dotted;
  --border: 1px;
  --border-color: #1890ff;
  --color: #1890ff;
  --background: #fffdfa;
}

ion-toolbar {
  --background: #fffdfa;
}

ion-button[shape="round"] {
  --border-radius: 20px;
}

.fullheight {
  height: 100%;
}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-searchbar input {
  --background: #f4f4f4;
  --border-radius: 4px;
}

ion-input.custom,
ion-textarea.custom,
ion-select.custom {
  --background: #f4f4f4;
  background: #f4f4f4;
  --padding-start: 10px;
  --placeholder-color: #999999;
  --placeholder-opacity: 0.8;
}

ion-input.custom-1,
ion-textarea.custom-1 {
  --background: #ffffff;
  border: solid 1px#f4f4f4;
  --padding-start: 10px !important;
}

.item-label-stacked.sc-ion-input-ios-h,
.item-label-stacked .sc-ion-input-ios-h,
.item-label-floating.sc-ion-input-ios-h,
.item-label-floating .sc-ion-input-ios-h {
  --padding-start: 8px;
}
